@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #1e1e1e;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.fade-enter {
  opacity: 0;
  transform: translateX(-100%);

  &-active {
    opacity: 1;
    transform: translateX(0%);
  }
}

.fade-exit {
  opacity: 1;
  transform: translateX(0%);

  &-active {
    opacity: 0;
    transform: translateX(100%);
  }
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms, transform 500ms;
}
